* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.slider{
    margin: 50px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
    border-radius: 20px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #ffffff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #ffffff;
}

.nav-btn {
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev-btn {
    left: 580px;
}

.next-btn {
    right: 580px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 500px; 
    background-color: #1b2838; 
}

.product-card {
    width: 300px; 
    height: 450px;
    margin-top: 40px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.product-card:hover {
    transform: scale(1.05); 
}

.product-image {
    width: 100%; 
    height: 50%;
    object-fit: c; 
    
}

.product-info {
    padding: 16px; 
    text-align: center; 
}

.product-title {
    font-size: 1.5em; 
    margin: 0 0 10px 0; 
    color: #fff;
}

.product-description {
    font-size: 1.5em; 
    color: #ffffff; 
    margin: 0 0 10px 0; 
}

.product-old {
    font-size: 1.5em; 
    color: #ffffff; 
    margin: 0 0 10px 0; 
    text-decoration: line-through;
}

.add-to-cart {
    background-color: #00cfff; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 16px; 
    cursor: pointer; 
    text-align: center; 
    display: block; 
    width: 100%; 
}

.add-to-cart:hover {
    background-color: #0099cc; 
}

.lancamento {
    font-size: 20px;
    margin-left: 300px;
    color: #fff;

}

.destaque {
    font-size: 20px;
    margin-left: 300px;
    margin-top: 100px;
    color: #fff;

}

.cards-l {
    display: flex;
    margin-left: 290px;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    height: 800px; 
    background-color: #1b2838; 
}

.product-card-l {
    width: 360px; 
    height: 360;
    margin: 10px;
    margin-top: 40px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.product-card-lu {
    width: 360px; 
    height: 360px;
    margin: 10px;
    margin-top: 40px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.product-card-l:hover {
    transform: scale(1.05); 
}

.product-card-lu:hover {
    transform: scale(1.05); 
}

.product-card-l:first-child { 
    width: 720px;
    height: 760px; 
  }
  
 .product-title-l {
    font-size: 2.0em; 
    margin: 0 0 30px 0; 
    color: #fff;
}

.product-description-l {
    font-size: 2.0em; 
    color: #ffffff; 
    margin: 0 0 110px 0; 
}

.product-old-l {
    font-size: 2.0em; 
    color: #ffffff; 
    margin: 0 0 30px 0; 
    text-decoration: line-through;
}
  
.add-to-cart-l {
    background-color: #00cfff; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 20px 16px; 
    cursor: pointer; 
    text-align: center; 
    display: block; 
    width: 100%; 
    font-size: 20px;
}

.add-to-cart-l:hover {
    background-color: #0099cc; 
}

.space {
    display: block;
    height: 400px;
}