* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1b2838;
  }
  
  .navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #171D25;
    width: 100%;
    height: 100px;
  }
  
  .img-logo {
    width: 100px;
    object-fit: cover;
    object-position: center;
    margin-top: 12px;
    margin-left: 40px;
    justify-content: flex-start;
  }

  .logos-plataform {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 2;
  }

  .ps5 {
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
    
  }
  
  .xbox {
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
    
  }
  
  .nintendo {
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
    
  }
  
  
  .login > a {
    color: #DCDEDF;
    font-size: 20px;
    
    margin-right: 20px;
    text-decoration: none;
  }
  
  .img-carrinho {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 40px;
    
  }

  .image-perfil {
    display: none;
  }
  
  .image-perfil img {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 40px;
    border-radius: 50%;
    
  }
  .image-perfil alt {
    border-radius: 0%;
  }
  