* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 100%;
}

.text-sing {
  position: relative;
  color: #fff;
  margin-top: 100px;
  font: 800 28px Inter, sans-serif;
}

.card-log {
  position: relative;
  border-radius: 4px;
  background-color: #181a21;
  display: flex;
  margin-top: 50px;
  width: 707px;
  max-width: 100%;
  justify-content: center;
  padding: 24px 32px;
}

.text-sing2 {
  color: #1999ff;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  font: 500 12px Inter, sans-serif;
}

.text-pass {
  color: #afafaf;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-top: 13px;
  font: 400 12px Inter, sans-serif;
}

input {
  color: #fff;
  font: 400 16px Inter, sans-serif;
  background-color: #32353c;
  border-radius: 2px;
  border-color: rgba(50, 53, 60, 1);
  border-style: solid;
  border-width: 1px;
  padding: 13px 16px 14px;
  margin-top: 4px;
  width: 400px;
  max-width: 100%;
  height: 39px;
}

.campo-rememb {
  display: flex;
  margin-top: 12px;
  gap: 6px;
}

.caixa-rememb {
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 3px;
}

#rememberMe {
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin-bottom: 4px;
}

.img-2 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 14px;
}
.text-rememb {
  color: #afafaf;
  margin: auto 0;
  font: 400 12px Inter, sans-serif;
}
.button-sign {
  align-items: center;
  border-radius: 2px;
  background: linear-gradient(90deg, #06bfff 0%, #2d73ff 100%);
  align-self: center;
  margin-top: 12px;
  width: 400px;
  max-width: 100%;
  color: #fff;
  text-align: center;
  padding: 13px 60px 14px;
  font: 400 16px Inter, sans-serif;
  cursor: pointer;
}

.login {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
}

.button-sign:hover {
  background: linear-gradient(90deg, #2d73ff 0%, #06bfff 100%);
}

@media (max-width: 600px) {
  /* Tablet e menores */
  .navegacao > .logos-plataform {
    display: none;
  }

  .nav {
    height: 100%;
  }

  .card-log {
    width: 90%;
    padding: 20px;
  }

  .det-log {
    width: 100%;
  }
}

@media (max-width: 775px) {
  .text-decorat {
    display: none;
  }
}
