* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.xbox-imagem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.xbox-imagem img{
    width: 80%;
    height: auto; 
    max-width: 400px; 
    margin: auto; 
}


.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    height: 100%; 
    background-color: #1b2838; 
}

.product-card {
    width: 300px; 
    height: 450px;
    margin-top: 40px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.product-card:hover {
    transform: scale(1.05); 
}

.product-image {
    width: 100%; 
    height: 50%;
    object-fit: c; 
    
}

.product-info {
    padding: 16px; 
    text-align: center; 
}

.product-title {
    font-size: 1.5em; 
    margin: 0 0 10px 0; 
    color: #fff;
}

.product-description {
    font-size: 1.5em; 
    color: #ffffff; 
    margin: 0 0 10px 0; 
}

.product-old {
    font-size: 1.5em; 
    color: #ffffff; 
    margin: 0 0 10px 0; 
    text-decoration: line-through;
}

.add-to-cart {
    background-color: #00cfff; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 16px; 
    cursor: pointer; 
    text-align: center; 
    display: block; 
    width: 100%; 
}

.add-to-cart:hover {
    background-color: #0099cc; 
}

.jogo {
    font-size: 20px;
    margin-left: 300px;
    margin-top: 100px;
    color: #fff;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    background-color: #1b2838;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
  
    box-sizing: border-box;
  }
  
  .footer-content {
    margin: 0;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
  }
  



@media (max-width: 768px) {
    .xbox-imagem img {
        width: 100%;
        height: 100%;
    }

    .logos-plataform {
        display: none;
    }

    .cards {
        display: flex;
        justify-content: center;
        gap: 20px; 
        flex-wrap: wrap;
    }
    .product-card {
        margin-top: 20px; 
    }
    .jogo {
        margin-left: 0;
        text-align: center;
    }

    .footer-content {
        font-size: 9px; 
      }
}